<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="SystemCompany" value="DecoAroma2" />
    <add key="Modules" value="C-Configuracion|PR-Productos|CR-|CL-Clientes|NF-NuevaFactura|R-Reportes|NR-|CF-ConsultarFacturas|I-Inventario" />
    <add key="Actions" value="E-Editar|S-Seleccionar|A-Adicionar|EL-Eliminar" />
    <add key="PrintFormat" value="A5VERTICAL" />
    <add key="SaveType" value="IMPRIMIRGUARDAR" />
    <add key="ProductKey" value="6314919255841414023720491504024325241140561851471379797591681721341174721821719796" />
    <add key="MacAddress" value="6CC2177ADC03" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="FacturandoEntities" connectionString="metadata=res://*/Data.FacturandoEntityDataModel.csdl|res://*/Data.FacturandoEntityDataModel.ssdl|res://*/Data.FacturandoEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SIMON-PC\SQLEXPRESS;initial catalog=FacturandoManuel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>